<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/account.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Changer photo de profile</title>
    <style>
        
    </style>
</head>
<body>
    <!-- NavBar-->

    <nav>
        <div class="navbar-div container">
            <div class="row" style="margin-top: 10px;">
                <div class="col-10">
                    <a href="/patient" style="color: white; text-decoration: none;"><h4>Dietary AI</h4></a>
                </div>
                <div class="col" style="display: flex;">
                    <a href="/patient/notifications" style="color: white;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                        </svg>
                        <svg style="color: orange; position: relative; right: 10px; bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
                        </svg>
                    </a>
                    <div class="profile-menu dropdown-center" style="margin-left: 25px;">
                        <p class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{patient_data.firstname}}</p>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/patient/account">Paramètre de compte</a></li>
                          <li><a class="dropdown-item" href="/">Sortir</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </nav>




    <!-- Header -->
    <div class="container" style="margin-top: 30px;">
        <h1 style="font-weight: bold; font-size: 47px;">Changer photo de profile</h1>
    </div>


    <div class="container rounded mt-5 mb-5">
        {% if result %}
        <div class="alert alert-success" role="alert">
          Photo de profile modifier avec succée 
        </div>
        {% endif%}
        <div class="row">
            <form action="/patient/account/picture" method="post" enctype="multipart/form-data">
            <div class="col-md-12 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="300px" src="../../pictures/profile/{{patient_data.picture}}">
                    <input type="file" name="picture" accept="images/*" >
                    <button type="submit" class="btn" style="margin-top: 20px; background-color: #43498b; color: white;">Enregistrer</button>
                </div>
            </form>    

    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>